<header>
    <h1>
        {{title}}
    </h1>

    <a href="/weather">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <a href="/products">Products</a>
    <a href="/Jabberwocky">Bad Page</a>
    <a href="/Help/puffin">Bad Help</a>
</header>